# Dependencies
node_modules/
.pnpm-store/

# Builds
dist/
build/
.next/
out/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/

# Test / coverage
coverage/

# TS build info
*.tsbuildinfo
next-env.d.ts

# Prisma
prisma/*.db

# Supabase
.supabase/
